/a.out
/hindi11
/hindi11.tsv
/hindi11_output
/hindi11_output.txt
/hindi11_output_excel
/parser-output.txt
/prune-output.txt
/test.txt
/testing.ipynb
/tmp.txt
/usr-gener-for-simp.sh
/wx.txt
__pycache__